sudo: required
services:
 - docker

before_install: gem install bundler --pre
 - docker build -t waqaransari/docker-react -f dockerfile.dev .

script:
 - docker run waqaransari/docker-react npm run test -- --coverage 
