language: node_js
node_js:
  - 10
script: "rake"
sudo: required
services:
 - docker

before_install:
 - docker build -t waqaransari/docker-react -f dockerfile.dev .

script:
 - docker run waqaransari/docker-react npm run test
 
